<div class="shadow bg-white rounded mb-3 p-3">
  <div class="row">
    <div class="col-12">
      <label class="h4">Patient Records</label>
    </div>
  </div>

  <div class="row mt-2">

    <div class="col-2 p-5 text-center mb-2">

    </div>
    <div class="col-8 p-5 text-center mb-2">
      <canvas id="patientBarChart" class="chartjs-render-monitor"></canvas>
    </div>
    <div class="col-2 p-5 text-center mb-2">

    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect01">Total Records: {{totalRecord}}</label>
        <label class="input-group-text" for="inputGroupSelect01">Row Size</label>
        <select name="num" [(ngModel)]="rowSize" (change)="onRowSizeOptionChange($event)" class="form-select"
          id="inputGroupSelect01">
          <option *ngFor="let item of rowSizeOption" [value]="item">{{item}}</option>
        </select>

        <button class="btn btn-sm btn-info" (click)="onCreateClick()"><Span></Span> New Record</button>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="row">
        <div class="col-lg-8 col-sm-12"></div>
        <div class="col-lg-4 col-sm-12">
          <div class="input-group">
            <input [(ngModel)]="searchByName" id="searchByName" name="searchByName" (keyup)="onSearchByName($event)"
              type="text" class="form-control" placeholder="Search By Name" aria-label="Search"
              aria-describedby="basic-addon2">

            <input [(ngModel)]="searchByPhone" id="onSearchByPhone" name="onSearchByPhone"
              (keyup)="onSearchByPhone($event)" type="text" class="form-control" placeholder="Search By Phone"
              aria-label="Search" aria-describedby="basic-addon2">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>

            <!-- fa fa-sort-amount-down -->
            <th scope="col" class="cursor-pointer" (click)="onOrderByClick('id')"><span class="{{orderColumn.column == 'id' ? orderColumn.order_by == 'DESC' ? 'fa fa-sort-amount-down':'fa
                fa-sort-amount-up':
                ''}}"></span>Patient Id</th>
            <th scope="col" class="cursor-pointer" (click)="onOrderByClick('name')"> <span class="{{orderColumn.column == 'name' ? orderColumn.order_by == 'DESC' ? 'fa fa-sort-amount-down':'fa
                fa-sort-amount-up':
                ''}}"></span> Name</th>
            <th scope="col" class="cursor-pointer" (click)="onOrderByClick('phone')"> <span class="{{orderColumn.column == 'phone' ? orderColumn.order_by == 'DESC' ? 'fa fa-sort-amount-down':'fa
                fa-sort-amount-up':
                ''}}"></span> Phone</th>

            <th scope="col" class="cursor-pointer" (click)="onOrderByClick('dioptres')"> <span class="{{orderColumn.column == 'dioptres' ? orderColumn.order_by == 'DESC' ? 'fa fa-sort-amount-down':'fa
                fa-sort-amount-up':
                ''}}"></span> Dioptres (Latest)</th>
            <th scope="col" class="cursor-pointer" (click)="onOrderByClick('dateOfBirth')"> <span class="{{orderColumn.column == 'dateOfBirth' ? orderColumn.order_by == 'DESC' ? 'fa fa-sort-amount-down':'fa
                fa-sort-amount-up':
                ''}}"></span> Date Of Birth</th>
            <th scope="col" class="cursor-pointer" (click)="onOrderByClick('insertDate')"> <span class="{{orderColumn.column == 'insertDate' ? orderColumn.order_by == 'DESC' ? 'fa fa-sort-amount-down':'fa
                fa-sort-amount-up':
                ''}}"></span> Insert Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading">
            <td colspan="100" class="text-center">
              <div class="spinner-border text-danger spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div><span class="text-warning p-2">Loading...</span>
            </td>
          </tr>
          <tr *ngFor="let item of patientRecordMdlLst" (click)="populateChartData(item.chartData)">
            <th scope="row">{{item.patientId}}</th>
            <td>
              {{ item.name }}
            </td>
            <td>{{ item.phone }}</td>
            <td>
              <p>
                <button type="button" *ngIf="item.dioptres >= 6" class="badge badge-danger text-danger">
                  {{  item.dioptres }} - High
                  Risk</button>
                <button type="button" *ngIf="(item.dioptres >= 3 && item.dioptres < 6)"
                  class="badge badge-danger text-warning"> {{  item.dioptres }} - Moderate Risk</button>
                <button type="button" *ngIf="(item.dioptres >= 1 && item.dioptres < 3)"
                  class="badge badge-danger text-info"> {{  item.dioptres }} - Low Risk</button>
                <button type="button" *ngIf="(item.dioptres >= 0 && item.dioptres < 1)"
                  class="badge badge-danger text-success"> {{  item.dioptres }} - Little to no Risk</button>
              </p>
            </td>
            <td>{{item.age}} Age, {{ item.dateOfBirth | date: "dd-MMM-yyyy" }}</td>
            <td>
              <div class="row" *ngIf="item.insertDate != null">
                <small> <span class="fa fa-calendar"></span> {{item.insertDate | date: "dd-MMM-yyyy"}}</small>
              </div>
            </td>

            <td>
              <button class="btn btn-sm btn-outline-info" (click)="onDioptresClick(item)"><i
                  class="fa fa-thermometer-empty" aria-hidden="true"></i> Dioptres</button> &nbsp;
              <button class="btn btn-sm btn-outline-info" (click)="onEditClick(item)"><i class="fa fa-pencil"
                  aria-hidden="true"></i>Edit</button> &nbsp;
              <button class="btn btn-sm btn-outline-danger" (click)="onDeleteClick(item)"><i class="fa fa-trash-o"
                  aria-hidden="true"></i>Delete</button>
            </td>
          </tr>
          <tr *ngIf="!isLoading && patientRecordMdlLst.length <= 0">
            <td colspan="100" class="text-center">
              <span class="text-info p-2">No Records</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ngb-pagination [collectionSize]="totalRecord" (pageChange)="onPaginationChange($event)" [(page)]="page"
        [pageSize]="rowSize" [directionLinks]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
