<nav ngxNavbarDynamicExpand class="navbar-light shadow p-3 mb-5 bg-white rounded">
  <a class="navbar-brand" href="#">Cholpori Assessment</a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
    aria-expanded="false" aria-label="Navigáció kapcsoló">
    <span class="
        navbar-toggler-icon
        d-flex
        align-items-center
        justify-content-center
      ">
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/pages/task-list">Task <span class="sr-only"></span></a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/pages/task-list" routerLinkActive=""></a>
      </li> -->
    </ul>
  </ngx-navbar-collapse>
</nav>
